# Projeto final

Bem vindo ao projeto final do curso/módulo de Pandas.
Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

In [1]:
import pandas as pd
import numpy as np

## Perguntas - Obesity among adults by country, 1975-2016

In [2]:
df_obesity = pd.read_csv("obesity_cleaned.csv")
del df_obesity["Unnamed: 0"]
df_obesity

           Country  Year       Obesity (%)         Sex
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1      Afghanistan  1975     0.2 [0.0-0.6]        Male
2      Afghanistan  1975     0.8 [0.2-2.0]      Female
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4      Afghanistan  1976     0.2 [0.0-0.7]        Male
...            ...   ...               ...         ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 4 columns]

## - Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

SEM compreensao em lista

In [3]:
novalista = []
lista = list(df_obesity["Obesity (%)"])
for item in lista:
  novalista.append( item.split()[0])
df_obesity["Obesity"] = novalista
df_obesity2 = df_obesity[df_obesity["Obesity"] == "No"]
df_obesity = df_obesity.drop(df_obesity2.index)
df_obesity["Obesity"].astype(float)
df_obesity

           Country  Year       Obesity (%)         Sex Obesity
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes     0.5
1      Afghanistan  1975     0.2 [0.0-0.6]        Male     0.2
2      Afghanistan  1975     0.8 [0.2-2.0]      Female     0.8
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes     0.5
4      Afghanistan  1976     0.2 [0.0-0.7]        Male     0.2
...            ...   ...               ...         ...     ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male     4.5
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female    24.8
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes    15.5
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male     4.7
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female    25.3

[24066 rows x 5 columns]

COM compreensao em lista

In [4]:
lista = list(df_obesity["Obesity (%)"])
novalista = [item.split()[0] for item in lista] # < -- compreensao em lista
df_obesity["Obesity"] = novalista
df_obesity2 = df_obesity[df_obesity["Obesity"] == "No"]
df_obesity = df_obesity.drop(df_obesity2.index)
df_obesity["Obesity"] = df_obesity["Obesity"].astype(float)
df_obesity["Obesity"]

0         0.5
1         0.2
2         0.8
3         0.5
4         0.2
         ...
24565     4.5
24566    24.8
24567    15.5
24568     4.7
24569    25.3
Name: Obesity, Length: 24066, dtype: float64

- Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [5]:
men_mean = df_obesity[df_obesity["Sex"] == "Male"][df_obesity["Year"] == 2015]["Obesity"].mean()
female_mean = df_obesity[df_obesity["Sex"] == "Female"][df_obesity["Year"] == 2015]["Obesity"].mean()
both_mean = df_obesity[df_obesity["Sex"] == "Both sexes"][df_obesity["Year"] == 2015]["Obesity"].mean()

C:\Users\zez\AppData\Local\Temp\ipykernel_5016\2009200457.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  men_mean = df_obesity[df_obesity["Sex"] == "Male"][df_obesity["Year"] == 2015]["Obesity"].mean()
C:\Users\zez\AppData\Local\Temp\ipykernel_5016\2009200457.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  female_mean = df_obesity[df_obesity["Sex"] == "Female"][df_obesity["Year"] == 2015]["Obesity"].mean()
C:\Users\zez\AppData\Local\Temp\ipykernel_5016\2009200457.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  both_mean = df_obesity[df_obesity["Sex"] == "Both sexes"][df_obesity["Year"] == 2015]["Obesity"].mean()

In [6]:
medias = pd.DataFrame([{"Men": men_mean, "Female":female_mean, "Both": both_mean}])
medias.index.name ="Medias"
medias

              Men     Female       Both
Medias
0       15.980628  22.899476  19.508377

- Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

In [7]:
df_obesity

           Country  Year       Obesity (%)         Sex  Obesity
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes      0.5
1      Afghanistan  1975     0.2 [0.0-0.6]        Male      0.2
2      Afghanistan  1975     0.8 [0.2-2.0]      Female      0.8
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes      0.5
4      Afghanistan  1976     0.2 [0.0-0.7]        Male      0.2
...            ...   ...               ...         ...      ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male      4.5
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female     24.8
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes     15.5
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male      4.7
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female     25.3

[24066 rows x 5 columns]

- Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

Baixo - Viet Nam - 1.5
Maior - Nauru - 63.1

In [ ]:
percentualmin2015 = df_obesity[df_obesity ["Year"] == 2015]["Obesity"].min()
nationlow2015 = df_obesity[df_obesity ["Year"] == 2015][df_obesity["Obesity"] == percentualmin2015]["Country"]
parcentualhigh2015 = df_obesity[df_obesity ["Year"] == 2015]["Obesity"].max()
nationhigh2015 = df_obesity[df_obesity ["Year"] == 2015][df_obesity["Obesity"] == parcentualhigh2015]["Country"]

In [44]:
df_2015data = pd.DataFrame([{"Nauru":parcentualhigh2015, "Viet Nam": percentualmin2015, "-": "Porcentagem de Obesidade em 2015"}])
df_2015data = df_2015data.set_index("-")
df_2015data

                                  Nauru  Viet Nam
-
Porcentagem de Obesidade em 2015   63.1       1.5

- Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

In [ ]:
df_brasil = df_obesity[df_obesity["Country"] == "Brazil"]
df_brasil["Variação em %"] = (df_brasil["Obesity"]/df_brasil["Obesity"].shift(1) - 1)
df_brasil = df_brasil.fillna(0)

In [119]:
df_brasil

     Country  Year       Obesity (%)         Sex  Obesity  Variação em %
2898  Brazil  1975     5.2 [3.3-7.9]  Both sexes      5.2       0.000000
2899  Brazil  1975     3.0 [1.4-5.7]        Male      3.0      -0.423077
2900  Brazil  1975    7.3 [4.0-12.0]      Female      7.3       1.433333
2901  Brazil  1976     5.5 [3.5-8.1]  Both sexes      5.5      -0.246575
2902  Brazil  1976     3.2 [1.5-5.8]        Male      3.2      -0.418182
...      ...   ...               ...         ...      ...            ...
3019  Brazil  2015  18.0 [13.9-22.6]        Male     18.0      -0.166667
3020  Brazil  2015  24.9 [20.3-29.8]      Female     24.9       0.383333
3021  Brazil  2016  22.1 [18.7-25.7]  Both sexes     22.1      -0.112450
3022  Brazil  2016  18.5 [14.1-23.5]        Male     18.5      -0.162896
3023  Brazil  2016  25.4 [20.4-30.7]      Female     25.4       0.372973

[126 rows x 6 columns]

- Você conseguiria plotar um gráfico mostrando a evolução da obesidade para ambos sexos no mundo?

In [ ]:
df_both.plot()

## Perguntas - GDP Per Person (1901-2011)

In [ ]:
df_gdp = pd.read_csv("Datasets/GDP.csv", decimal=".")

- Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.

- Você conseguiria informar o primeiro valor registrado de cada país?

- Informe as regiões com maiores crescimentos de PIB per capita no século passado.

- Preecha os anos ausentes em cada país com uma estimativa, baseada na diferença entre o próximo registro e o anterior.

### DESAFIOS
- Você conseguiria criar um mapa do gdp ou da obesidade no mundo ao longo dos anos?

- Há uma relação entre níveis de obesidade e gdp per capita?